---
import Header from "../Header/Header.jsx";
import "./Working.css";
---
<div id="working">
    <Header color="white" client:load />
    <div id="workingContainer">
        <div id="WorkingImageContainer" class="workingDetail">
            <img src="/images/workingVector.webp" alt="working" class="workingImage" />
            <div id="insideImageContainer">
                <img src="/images/run.webp" alt="run" class="runImage" data-aos="fade-right" />
                <h3 data-aos="fade-left">This page is in Development</h3>
                <button class="workingButton"><a href="/" class="workingLinks">Go back</a></button>
            </div>
        </div>
    </div>
</div>