@font-face{font-family:researcher;src:url("/font/researcher.ttf");font-display:swap}
#landingPage{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#landingTopVector{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
#landingBottomVector{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
#landGreetingContainer{
    position: absolute;
    width: 50%;
    height: 40%;
    right: 0;
    top: 10%;
    z-index: 1;
}
#landingTextContainer{
    position: absolute;
    width: 50%;
    height: 65%;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.landingBlob{
    width: 90%;
    height: 30%;
    margin: 10px;
}
.blobs{
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
}
.firstBlob { 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -30px;
    cursor: pointer;
    background-size: cover;
}
.firstBlob:hover:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: #AC00FD;
    bottom: 90px;
    margin-left: 62px;
    z-index: 2;
    animation: blobLine ease-in 0.4s forwards;
}
.firstBlob::after{
    content: "BLOGS";
    position: absolute;
    font-size: 40px;
    bottom: 90px;
    right: -100px;
    font-family: researcher;
}
.secendBlob { 
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -15px;
    background-size: cover;
    cursor: pointer;
}
.secendBlob::after{
    content: "ABOUT";
    position: absolute;
    font-size: 40px;
    bottom: 55px;
    right: -100px;
    margin-left: 20px;
    font-family: researcher;
}
.secendBlob:hover:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: #00E0FF;
    bottom: 55px;
    margin-left: 60px;
    animation: blobLine ease-in 0.4s forwards;
}
.thirdBlob { 
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: -15px;
    background-size: cover;
    cursor: pointer;
}
.thirdBlob:hover:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: #FF3D00;
    bottom: 40px;
    margin-left: 70px;
    animation: blobLine ease-in 0.4s forwards;
}
.thirdBlob::after{
    content: "CONTACT";
    position: absolute;
    font-size: 40px;
    bottom: 40px;
    right: -190px;
    font-family: researcher;
}
#welcome{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 1px;
}
.landingFont{
    font-family: 'Comfortaa', cursive;
}
#ibrahim{
    margin-left: 20px;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
#tyText{
    margin-top: -25px;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
    margin-left: 100px;
    color: #AC00FD;
}
@media screen and (max-width: 380px) {
    .firstBlob::after{
        font-size: 35px;
        right: -60px;
        bottom: 100px;
    }
    .secendBlob::after{
        font-size: 35px;
        right: -60px;
    }
    .thirdBlob::after{
        font-size: 31px;
        right: -115px;
    }
}
@media only screen and (max-width: 650px) {
    .landingTopSpan{
        margin-left: -520px;
        margin-top: -400px;
        width: 1000px;
        opacity: 0.5;
    }
    .landingBottomSpan{
        margin-left: -400px;
        margin-top: 200px;
        width: 900px;
        opacity: 0.5;
    }
    #landingTextContainer{
        width: 100%;
        height: 65%;
        margin-bottom: 15px;
    }
    #landGreetingContainer{
        width: 70%;
    }
}
@media only screen and (min-width: 520px) and (max-width: 650px) {
    .landingTopSpan{
        margin-left: -520px;
        margin-top: -400px;
        width: 1000px;
        opacity: 0.5;
    }
    .landingBottomSpan{
        margin-left: -400px;
        margin-top: 200px;
        width: 900px;
        opacity: 0.5;
    }
    #landingTextContainer{
        width: 90%;
    }
}  
@media only screen and (min-width: 650px) and (max-width: 1000px) {
    .landingTopSpan{
        margin-left: -520px;
        margin-top: -400px;
        width: 1200px;
        opacity: 0.5;
    }
    .landingBottomSpan{
        margin-left: -400px;
        margin-top: 200px;
        width: 1000px;
        opacity: 0.5;
    }
    #landingTextContainer{
        width: 60%;
    }
    
}
@media only screen and (min-width: 1000px) {
    .landingTopSpan{
        margin-left: -520px;
        margin-top: -400px;
        width: 1400px;
        opacity: 0.5;
    }
    .landingBottomSpan{
        margin-left: -400px;
        margin-top: 200px;
        width: 1200px;
        opacity: 0.5;
    }
}
@keyframes blobLine {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.firstBlob{
    width: 200px;
    height: 200px;
}
.secendBlob{
    width: 200px;
    height: 200px;
}
.thirdBlob{
    width: 200px;
    height: 200px;
}
  
  