@font-face{font-family:researcher;src:url("/font/researcher.ttf");font-display:swap}
@font-face{font-family:Comfortaa;src:url("/font/Comfortaa-Regular.ttf");font-display:swap}
@font-face{font-family:El Messiri;src:url("/font/ElMessiri-Regular.ttf");font-display:swap}
@font-face{font-family:Merienda;src:url("/font/Merienda-Regular.ttf");font-display:swap}
@font-face{font-family:Montserrat Alternates;src:url("/font/MontserratAlternates-LightItalic.ttf");font-display:swap}
@font-face{font-family:Quicksand;src:url("/font/Quicksand-Regular.ttf");font-display:swap}
@font-face{font-family:Satisfy;src:url("/font/Satisfy-Regular.ttf");font-display:swap}
@font-face{font-family:Ubuntu;src:url("/font/Ubuntu-Regular.ttf");font-display:swap}
@font-face{font-family:Brolink;src:url("/font/Brolink.otf");font-display:swap}
@font-face{font-family:Dujitsu;src:url("/font/Dujitsu.otf");font-display:swap}

