---
import "./Main.css"
---
<div id="mainContainer">
    <div id="main">
        <div id="mainImage" data-aos="flip-right">
            <img src="/images/wallpaper.webp" alt="main" class="mainImage"/>
        </div>
        <div id="mainText">
            <div id="mainTextContainer" data-aos="zoom-in-right">
                <h1 class="mainText" id="visit">Visit</h1>
                <h1 class="mainText" id="read">Read</h1>
                <h1 class="mainText" id="learn">Learn</h1>
            </div>
        </div>
    </div>
</div>