---







import "../styles/index.css";
import "../styles/fonts.css";
import Typer from "../components/typer/Typer";


---
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G56N6HQGH1"></script>
	<script src="/analytics.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#181818">
	<link rel="apple-touch-icon" sizes="180x180" href="https://www.ibra.ws/images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="https://www.ibra.ws/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="https://www.ibra.ws/images/favicon/favicon-16x16.png" />
	<link rel="icon" type="image/png" href="https://www.ibra.ws/images/favicon/favicon-32x32.png" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<meta name="description" content="ibra blogs, and portfolio , Learn and Read the newest news about web development." />
	<meta name="keywords" content="ibra, blogs, portfolio" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.ibra.ws/">
	<meta property="og:title" content="ibra web">
	<meta property="og:description" content="blogs, and portfolio , Learn and Read the newest news about web development.">
	<meta property="og:image" itemprop="image" content="https://www.ibra.ws/images/favicon/android-chrome-192x192.png">
	<title>ibra portfolio</title>
</head>
<body>
	<div class="parent">
			<div id="logo">
				<div id="logoContainer">
					<h1 class="ibra" data-aos="fade-down"><a href="/Map" class="toMainLink">IBRA BLOG</a></h1>
				</div>
			</div>
			<div class="itemsContainer">
				<div class="name">
					<Typer client:load />
				</div>
			</div>
			<div class="nav">
				<a rel='canonical' href="https://twitter.com/IGsibra" target="_blank" class="navImages"><img src="/images/icons/twitter.svg" alt="twitter logo" /></a>
				<a rel='canonical' href="https://github.com/ibraKH" target="_blank" class="navImages"><img src="/images/icons/github.svg" alt="github logo" /></a>
			</div>
			<div id="stars"></div>
	</div>
</body>
</html>
