---


import Header from "../components/Header/Header.jsx";
import Landing from "../components/Landing/Landing.astro";
import Navbar from "../components/Navbar/Navbar.astro";




import "../styles/index.css";




---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#181818">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
	<link rel="icon" type="image/png" href="/images/favicon/favicon.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Merienda&family=Montserrat+Alternates:ital,wght@1,300&family=Satisfy&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<meta name="description" content="ibra blogs, and portfolio , Learn and Read the newest news about web development." />
	<title>ibra website</title>
</head>
<body>
	<div class="pageContainer">
		<div class="parent LandingContainer">
			<Header client:load  color="white" />
			<Landing />
			<Navbar color="white" />
		</div>
	</div>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>

		AOS.init();
	</script>
</body>
</html>
