@font-face {
    font-family: researcher;
    src: url("/font/researcher.ttf");
    font-display: swap;
}
#header{
    position: fixed;
    width: 100%;
    height: 54px;
    z-index: 2;
    overflow: hidden;
}
.yellowTheme{
    background-color: #FAFF00;
}
.whiteTheme{
    background-color: white;
}
.navHeaderActive{
    animation: navbarExpand ease-in 1s forwards;
}
.navHeaderNotActive{
    overflow: hidden;
    animation: navbarExpandN ease-in 1s forwards;
}
@keyframes navbarExpand {
    0%{
        height: 54px;
    }
    100%{
        height: 400px;
    }
}
@keyframes navbarExpandN {
    0%{
        height: 400px;
    }
    100%{
        height: 54px;
    }
}
@media only screen and (max-width: 600px) {
    #navbar{
        position: absolute;
        width: 100px;
        height: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #centerHeaderContainer{
        display: none;
    }
    #logoContainer{
        width: 100px;
        height: 54px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 35px;
        height: 35px;
    }
    #rightHeaderContainer{
        display: none;
    }
    #topBar{
        position: absolute;
        left: 10px;
        top: 26.5px;
        width: 30px;
        height: 3px;
        background-color: black;
    }
    #bottomBar{
        position: absolute;
        left: 10px;
        top: 35px;
        width: 30px;
        height: 3px;
        background-color: black;
    }
    .normalR{
        transform: rotate(0);
    }
    .leftCrosed{
        transform: rotate(45deg);
        animation: leftCrosed ease-out 0.5s;
    }
    .rightCrosed{
        transform: rotate(-45deg);
        margin-top: -8px;
        animation: rightCrosed ease-out 0.5s;
    }
    @keyframes leftCrosed {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(45deg);
        }
    }
    @keyframes rightCrosed {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(-45deg);
        }
    }
    #headerNavbarContent{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .ibra{
        font-size: medium;
        font-family: researcher;
        margin: 0 5px 0 5px;
    }
}
@media only screen and (min-width: 600px) {
    #navbar{
        display: none;
    }
    #logoContainer{
        width: 100px;
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 35px;
        height: 35px;
    }
    #iconContainer{
        width: 100px;
        height: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #centerHeaderContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .headerText{
        display: inline-block;
        margin: 0 20px 0 20px;
        color: black;
        cursor: pointer;
        font-family: 'Satisfy', cursive;
    }
    .ibra{
        font-size: medium;
        font-family: researcher;
        margin: 0 5px 0 5px;
    }
}
.headerTextFont{
    font-family: 'Satisfy', cursive;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.headerLinks{
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    color: black;
}