#footer{
    margin-top: 200px;
    position: relative;
    width: 100%;
    height: 160px;
}
#footerContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.footerVector{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
#footerTextContainer{
    position: absolute;
    left: 25%;
    bottom: 0px;
}
.footerText{
    margin: 10px 0 0px 0;
    font-family: Satisfy,cursive;
    cursor: pointer;
}
#footerCR{
    position: absolute;
    bottom: 2px;
    right: 5px;
}
.copyRight{
    margin: 0;
    font-size: xx-small;
}
.footerLinks{
    font-family: Satisfy,cursive;
    text-decoration: none;
    color: black;
}
.footerLinks:hover{
    color: #AC00FD;
}