---
import "./Footer.css";
---
<div id="footer">
    <div id="footerContainer">
        <img src="/images/footerVector.webp" alt="vector" class="footerVector" />
        <div id="footerTextContainer">
            <div id="footerAboutme" class="footerText">
                <h4 class="footerText"><a href="/about" class="footerLinks">ABOUT ME</a></h4>
            </div>
            <div id="footerContact">
                <h4 class="footerText"><a href="/contact" class="footerLinks">CONTACT</a></h4>
            </div>
            <div id="footerBlogs">
                <h4 class="footerText"><a href="/" class="footerLinks">BLOGS</a></h4>
            </div>
        </div>
        <div id="footerCR">
            <section>
                <h5 class="copyRight">© ibra, All rights reserved 2022</h5>
            </section>
        </div>
    </div>
</div>