---
import Header from "../../components/Header/Header.jsx";
import Main from "../../components/Main/Main.astro";
import Blog from "../../components/Blog/Blog.astro";
import Navbar from "../../components/Navbar/Navbar.astro";
import Footer from "../../components/Footer/Footer.astro";


import "../../styles/index.css";

export async function getStaticPaths({paginate}) {
    const allPosts = Astro.fetchContent('./*.md');
    return paginate(allPosts, {pageSize: 100})
}

const {page} = Astro.props;

//import { Markdown } from 'astro/components';
//const content = fetch(`http://localhost:4000/blogs/${page.title}.md`).then(res => res.text());


---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#181818">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=El+Messiri&family=Merienda&family=Montserrat+Alternates:ital,wght@1,200&family=Satisfy&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<meta name="description" content="ibra blogs, and portfolio , Learn and Read the newest news about web development." />
	<title>Blog</title>
</head>
<body style="background-color: #181818;">
    <div class="pageContainer">
		<div class="parent mainContainer">
			<Header client:load color="white" />
			<Main />
			<Blog blogs={page.data} />
			<Navbar color="white" />
			<Footer />
		</div>
	</div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	
		AOS.init();
	</script>
</body>
</html>
