body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#blogContainerDiv{
    position: absolute;
    width: 100%;
    background-image: url("../../images/workingbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#articleContainer{
    margin-top: 150px;
    position: relative;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    background-color: white;
    border-radius: 20px;
}
#avatar{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%,0);
    width: 120px;
    height: 120px;
    background: linear-gradient(180deg, #00F0FF 0%, #DB00FF 99.97%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatarContainer{
    position: relative;
    width: 105px;
    height: 105px;
}
.avatarImage{
    border-radius: 50%;
    width: 105px;
    height: 105px;
}
#blogTitle{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blogTitle h2{
    margin-top: 105px;
}
#blogTextContainer{
    margin: 10px;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    color: #40404F;
}
pre{
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}
@media only screen and (max-width:400px) {
    #articleContainer{
        width: 100%;
        left: 0;
    }
    img{
        width: 100%;
    }
}
a{
    text-decoration: none;
    color: #40404F;
}