---
import Header from "../components/Header/Header.jsx";
import "./BlogLayouts.css";



const { content } = Astro.props;

---


<html lang="en">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#181818">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
        <link rel="icon" type="image/png" href="/images/favicon/favicon.png" />
        <title>{content.title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=El+Messiri&family=Merienda&family=Montserrat+Alternates:ital,wght@1,200&family=Satisfy&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="blogContainerDiv">
            <Header client:load color="white" />
            <div id="articleContainer" class={content.lang === "en" ? "blogEN" : "blogAR"}>
                <div id="blogNav">
                    <a href="/Blogs" class="blogGoback"><img src="/images/arrow.svg" alt="goback" /></a>
                </div>
                <div id="avatar">
                    <div id="avatarContainer">
                        <img src={content.avatar} alt="avatar" class="avatarImage"/>
                    </div>
                </div>
                <div id="blogTitle">
                    <h2>{content.title}</h2>
                </div>
                <div id="blogTextContainer">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>